<header>
    <nav class="navbar navbar-expand-sm border-bottom" style="background-color: rgb(255, 255, 255)">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" style= "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" href="#">
          <img src="https://media.giphy.com/media/QgkPHLCdLBbZDPGkNZ/giphy.gif" alt="Logo" width="50" height="40">
          Venture Vibes
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
				<a href="/discover" class="nav-link">Discover</a>
            </li>
			  <li class="nav-item">
				  <a href="/mytrips" class="nav-link">My Trips</a>
			  </li>
			  <li class="nav-item">

			  </li>
          </ul>
          <% if (user) { %>
          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a href="/logout" class="nav-link">Logout</a>
          </div>
          <% } %>
        </div>
      </div>
    </nav>
   </header>