<%- include ('../partials/header') %>
	<%- include ('../partials/menu') %>
		<main>
			<div class="container">
				<form action="/register" method="POST">
				<div class="mb-3">
					<label for="username">Username</label>
					<input class="form-control" name="username" type="text" id="username"/>
					</div>
					<div class="mb-3">
					<label for="password">Password</label>
					<input class="form-control" type="text" name="password" id="password"/>
					<p class ="form-text" align="right">
					Already have an account? <a href="/login">Login</a>
					</p>
					</div>
					<button type="submit" class="btn btn-primary">Register</button>

				</form>
			</div>
		</main>
		<%- include ('../partials/footer') %>